<div>
    <img src="~/images/banner.jpg" />
    <h3 id="PageTitle">About StudentSystem</h3>
    <p>Version: @System.Reflection.Assembly.GetEntryAssembly().GetName().Version</p>

    <p>This is a sample application based on a Garage Management System.</p>
    <p>The goal of this sample is to demonstrate several Web-Scale Architecture concepts like: Microservices, CQRS, Event Sourcing, DDD, NoSQL.</p>
    <p>
        Features include:
        <ul>
            <li>Student Management</li>
            <li>Course management</li>
            <li>Enrollment management</li>
            <li>Invoicing</li>
            <li>Notifications for students</li>
        </ul>
    </p>
</div>