@model StudentSystem.WebApp.ViewModels.EnrollmentManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Enrollment Management - offline</h3>
<p>Unfortunately the enrollment management module is offline at the moment. Try again soon.</p>

