@model StudentSystem.WebApp.ViewModels.CourseManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Course Management - offline</h3>
<p>Unfortunately the verhicle management module is offline at the moment. Try again soon.</p>

