@model StudentSystem.WebApp.ViewModels.StudentManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Student Management - offline</h3>
<p>Unfortunately the student management module is offline at the moment. Try again soon.</p>

